:root{
    --global-font-family: Trebuchet MS, Arial, sans-serif;
    --color1: #250433;
}

.topnav{
    background-color: var(--color1, black);

}

.side_float{
    display: inline-block;
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.section_parent{
    width: 90%;
    margin: auto;
}
