:root{
    --global-font-family: Trebuchet MS, Arial, sans-serif;
    --rounded: 20px;
    /*COLOR SCHEME 1*/
    /*
    --colord1: #FFD9DA;
    --colord2: #EA638C;
    --colord3: #89023E;
    --colord4: #30343F;
    --colord5: #1B2021;
    */

    
    /*COLOR SCHEME 2*/
    
    --colord1: #FFD9DA;
    --colord2: #EA638C;
    --colord3: #5A213E;
    --colord4: #30343F;
    --colord5: #1B2021;
    
}

.topnav{
    overflow: hidden;
    background-color: var(--colord3, black);
}

.topnav a{
    float: left;
    color: var(--colord1, white);
    text-align: center;
    text-decoration: none;
    font-family: var(--global-font-family, sans-serif);
    font-size: 20px;
    padding: 20px 20px;
}

.side_float{
    display: inline-block;
    float: left;
    width: 50%;
    padding: 15px 20px 15px 20px;
    text-align: center;
    font-family: var(--global-font-family, sans-serif);
    background-color: var(--colord1, gray);
    border-radius: var(--rounded, 20px);
    box-shadow: 0px 4px 8px var(--colord5, black), 0px 6px 20px var(--colord4, gray);
}

.section_parent{
    width: 90%;
    margin: auto;
    padding: 10px;
}

.h1{
    font-size: 40px;
    text-decoration: bold;
    font-family: var(--global-font-family, sans-serif);
}

.p{
    font-family: var(--global-font-family, sans-serif);
    font-size: 16px;
}
