:root{
    --global-font-family: Trebuchet MS, Arial, sans-serif;
    --color1: #250433;
}

.side_float{
    display: inline-block;
    float: left;
    width: 50%;
    padding: 20%;
}

.topnav{
    background-color: var(--color1, black);

}
